extends layout

block SCRIPTS 
    script(src="../assets/js/angular/A_Dashboard.js"); 

block CONTENIDO
  div(ng-controller="DashboardCtrl" ng-init="correo='#{objeto.email}';") 
    h1 Hola #{email} #{nombre} #{nombre} #{nombre} #{nombre} #{nombre}
    h1 {{username}}
    h1 {{correo}}