extends ../layout

block CONTENIDO
    .container-fluid
        .page-header.min-height-300.border-radius-xl.mt-4(style="background-image: url('https://demos.creative-tim.com/soft-ui-dashboard-pro/assets/img/curved-images/curved0.jpg'); background-position-y: 50%;")
            span.mask.bg-gradient-primary.opacity-6
        .card.card-body.blur.shadow-blur.mx-4.mt-n6.overflow-hidden
            .row.gx-4
                .col-auto
                    .avatar.avatar-xl.position-relative
                        img.w-100.border-radius-lg.shadow-sm(src='https://demos.creative-tim.com/soft-ui-dashboard-pro/assets/img/bruce-mars.jpg' alt='profile_image')
                .col-auto.my-auto
                    .h-100
                        h5.mb-1 #{datos.NOMBRE}
                        p.mb-0.font-weight-bold.text-sm #{datos.CARRERA} / #{datos.BOLETA}
            .container-fluid.py-4
                div(ng-controller='TablaCtrl' ng-init=" id='#{grupo._id}'; nombre='#{grupo.nombre}'")
                    h6 Bienvenido al grupo #{grupo.nombre}
                    p Tipo: #{grupo.tipo} /  Descripción: #{grupo.descripcion}.
                    p El grupo tiene actualmente #{grupo.noIntegrantes} integrantes 
                    button.btn.btn-icon.btn-3.btn-primary(ng-click="selectSala( nombre )") Chat del grupo
                    button.btn.btn-icon.btn-3.btn-primary(href="#" ng-click='getGrupoPpl( id )') Ver Integrantes
                    table(ng-show='mostrar')
                        tbody 
                            tr 
                                th Nombre 
                            tr(ng-repeat="m in miembros")
                                td {{m}}



block SCRIPTS
    script(src='../assets/js/A_EjemploTabla.js')